.card.product {
    height: 150px;
    padding: 10px;
    display: block;
    color: inherit;

    p.title {
        line-height: 1.2em;
        font-weight: bold;
    }

    p.small-info {
        font-size: smaller;
        line-height: 1em;
    }

    p.description {
        margin-top: 0.7em;
        font-size: smaller;
        line-height: 1em;
    }

    img {
        max-width: 60px;
        margin-right: 10px;
        float: left;
    }
}