.viewer-container {
  margin: 0;
}

article {
  display: block;
  margin: 32px auto;
  padding: 2em 6em;
  max-width: 840px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px -1px rgba(50,50,50,.75);
  min-height: 100%;

  p {
    margin-bottom: 0.5em;
  }
}
