.viewer-container {
  margin: 0;
  background: lightgray;
}

article {
  display: block;
  margin: 32px auto;
  padding: 16px;
  max-width: 960px;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 100%;
}
